<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access Denied</title>

    <style>
        body {
            font-family: Arial;
            background-color: #f4f4f4;
            text-align: center;
            margin-top: 100px;
        }

        .card {
            background: white;
            padding: 30px;
            width: 400px;
            margin: auto;
            border-radius: 10px;
        }

        h2 {
            color: red;
        }

        a {
            text-decoration: none;
            color: blue;
        }
    </style>
</head>

<body>

<div class="card">
    <h2>Access Denied</h2>

    <p>You are not authorized to access this page.</p>

    <a href="/students-view">Go Back</a>
</div>

</body>
</html>