<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Student</title>
</head>

<body>

<div style="margin-bottom: 20px; font-size: 18px;">
    <a href="/students-view" style="margin-right: 10px;">Students</a>
    <a href="/mark-attendance" style="margin-right: 10px;">Mark Attendance</a>
    <a href="/attendance-summary">Summary</a>
</div>

<h2>Select Student</h2>

<form action="/attendance-summary-result" method="get">

    <select name="studentId">
        <option th:each="student : ${students}"
                th:value="${student.id}"
                th:text="${student.name}">
        </option>
    </select>

    <button type="submit">View Summary</button>
</form>

</body>
</html>