<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mark Attendance</title>
</head>

<body>

<div style="margin-bottom: 20px; font-size: 18px;">
    <a href="/students-view" style="margin-right: 10px;">Students</a>
    <a href="/mark-attendance" style="margin-right: 10px;">Mark Attendance</a>
    <a href="/attendance-summary">Summary</a>
</div>

<h2>Mark Attendance</h2>

<form action="/mark-attendance" method="post">

    <label>Select Student:</label>
    <select name="studentId">
        <option th:each="student : ${students}"
                th:value="${student.id}"
                th:text="${student.name}">
        </option>
    </select>

    <br><br>

    <label>Status:</label>
    <select name="status">
        <option value="Present">Present</option>
        <option value="Absent">Absent</option>
    </select>

    <br><br>

    <button type="submit">Submit</button>
</form>

</body>
</html>